---
layout: trivia.njk
title: Media Formats Trivia - Playing audio
permalink: "trivia/audio/"
---

<div id="card">
    <div id="back" class="instructions">
        <h2>Ready?</h2>
        <ul class="instructionsList">
            <li>Click to start</li>
            <li>Click again to flip</li>
            <li>Click once more to draw</li>
        </ul>
    </div>
</div>