---
layout: trivia.njk
title: Media Formats Trivia - Playing video
pagination:
    data: video
    size: 1
    alias: video
permalink: "trivia/video/{{ video.index | slugify }}/"
---

<div id="card">
    <div id="front">
        <div>{{video.fact1}}</div>
    </div>
    <div id="back" class="hide">
        <div class="image">
            <img src={{"/images/illustrations/video/"+video.era.slice(0,4)+"-"+video.id+"-1.svg"}} />
        </div>
        <h2>{{video.name}}</h2>
        <div id="info">
            <div><span>AKA</span>
                <div>{{video.aka}}</div>
            </div>
            <div><span>Era</span>
                <div>{{video.era}}</div>
            </div>
            <div><span>Format</span>
                <div>{{video.format}}</div>
            </div>
            <div><span>Developed by</span>
                <div>{{video.developedBy}}</div>
            </div>
            <div><span>(Max) Capacity</span>
                <div>{{video.capacity}}</div>
            </div>
            <div><span>Size</span>
                <div>{{video.size}}</div>
            </div>
        </div>
        <a href="/video/{{ video.id }}">Learn more</a>
    </div>
</div>