---
layout: trivia.njk
title: Media Formats Trivia - Playing video
permalink: "trivia/video/"
---

<div id="card">
    <div id="back" class="instructions">
        <h2>Ready?</h2>
        <ul class="instructionsList">
            <li>Click to start</li>
            <li>Click again to flip the card</li>
            <li>Click once more to draw a new card</li>
        </ul>
    </div>
</div>
