body {
    background-color: #d1fae5;
    font-family: Radio Canada;
    color: rgb(251, 146, 60);
    display: grid;
    vertical-align: baseline;
    align-content: center;
    justify-content: center;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

tagline {
    font-size: 0.8em;
}

a,
a:visited {
    color: rgb(124, 45, 18)
}

main {
    padding-top: 2em;
}