@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Radio+Canada&display=swap');
body {
    font-family: 'Radio Canada';
    font-size: 24px;
    margin: 0;
    padding: 0;
    /* // emerald-100 */
    background-color: #D1FAE5;
    color: white;
}

nav a {
    display: grid;
}

nav a svg {
    grid-area: 1/1;
    justify-self: center;
    align-self: center;
    max-width: 15rem;
}

nav a span {
    grid-area: 1/1;
    justify-self: center;
    align-self: center;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

main h1 {
    font-size: 8vw;
    font-family: "Chicle";
    font-weight: 700;
}

main h1>span:nth-child(1) {
    padding-top: 0.6em;
}

main h1>span:nth-child(2) {
    padding-top: 1.25em;
    margin-left: -0.5em;
}

main h1>span:nth-child(3) {
    padding-top: 1em;
}